<html>
    <center>
    <font color="white">
    <body bgcolor="555B66">
    <head>
        <title>Music in Context</title>
        <h2>Discover Music in Context</h2>
        <h3>A project by John Tokarowski</h3>
    </head>
    <body>
        <p>
            <br> 
            This app currently offers 3 user flows.
            <br>
            <br> 
            1) Subgenre analysis - all songs in selected user playlists will be analyzed using a clustering algorithm, 
            resulting in 5 new playlists determined by musical similarity.
            <br> 
            <a href={{ clusterFlowStartLink }}>Enter Cluster Mode</a>
            <br>
            <br> 
            2) Playlist analysis - all songs in 1 selected user playlist will be pulled into a radar and line chart,
            to visually examine patterns in playlist construction
            <br> 
            <a href={{ playlistFlowStartLink     }}>Enter Playlist Mode</a>
            <br> 
            <br> 
            3) Beta Functionality: the model will retrieve the user's top recent tracks and build a pool of recommendations.
            The model will then fit the recommendations to a 'curve' and present the complete set as a playlist in Spotify
            <br>
            <a href={{ tunnelFlowStartLink     }}>Enter Tunnel Mode</a>
            <br> 
            <br> 
            <p>
            This tool will ask you for Spotify Authentication to create new playlists. No playlists will be deleted.
            </p>
        </p>
        <br>
        <br>
        <p>
        </p>

    </body>
    </font>
    </center>
</html>