<html>
    <center>
    <font color="white">
    <body bgcolor="555B66">
    <head>
        <title>Music in Context</title>
        <h2>Discover Music in Context</h2>
        <h3>A project by John Tokarowski</h3>
    </head>
    <body>
        <p>
            <br> 
            <br>
            <br> 
            <br> 
            Order matters in playlist construction, and professional DJ's are experts at designing playlists.
            <br> 
            <br> 
            This model will build a pool of recommended tracks based on your most frequently played artists,
            and arrange them in a pattern inspired by famous DJ's, such as Nora en Pure, Armin van Buuren, and Martin Garrix.
            <br> 
            <br> 
            The model can create a new playlist using recommendations and a model DJ set.
            <br> 
            <br> 
            The pool of recommendations will be organized into sub-genres, from which you can select one or more for inclusion in the final playlist.
            The model will pull from this pool of tracks, and order them to match a top DJ's style.
            <br>
            <br>
            <a href={{ tunnelFlowStartLink     }}>Select sub-genres for inclusion in the playlist</a>
            <br> 
            <br> 
            You can interact with the visualization of the playlist by dragging the radar chart and the line chart to values you prefer.
            <br> 
            <br> 
            Clicking 'get me new tracks' will request different songs from your personalized pool of recommendations that fit more closely with your preference.
            <br> 
            <br> 
            When you are satisfied with the progression of the playlist, click 'Create Playlist in Spotify' to automatically upload to your Spotify library.
            <br>
            <br>
            <br>
            <br> 
            <br> 
            Alternatively, You can provide a Spotify playlist from your library (something you follow or created) to use as a base to create a new playlist. The initial visualization will only contain tracks from this playlist.
            <br>
            <br>
            You can use the draggable charts to adjust the attributes of any song in the playlist. You can swap in new recommended tracks to match the desired attribute values with the 'Swap Tracks' button
            <br>
            <br>
            Pressing 'Upload this playlist to spotify will create a new playlist, the original user playlist chosen will not be affected.'
            <br>
            <br>
            <a href={{ playlistFlowStartLink     }}>Select a playlist from your library</a>
            <br> 
            <br> 
            <p>
            This tool will ask you for Spotify Authentication to create new playlists. No user created playlists will be deleted.
            </p>
        </p>
        <br>
        <br>
        <p>
        </p>

    </body>
    </font>
    </center>
</html>