<html>
    <center>
    <font color="white">
    <body bgcolor="555B66">
    <head>
        <title>Music in Context</title>
        <h2>Discover Music in Context</h2>
        <h3>A project by John Tokarowski</h3>
    </head>
    <body>
        <p>
            <br> 
            Order matters in playlist construction, and professional DJ's are experts at designing playlists.
            <br>
            By combining Spotify's recommendation engine and the style of top DJ's, you can discover new music in context.
            <br>
            <br>
            <br>
            This tool will design a custom playlist for you, based on the style of a professional DJ.
            <br>
            You can interact with a visualization of the proposed playlist, and automatially upload it to your Spotify account once complete.
            <br>
            <p>
            This tool will ask you for Spotify Authentication to view your current playlists, and create new ones. No playlists will be deleted.
            </p>
            <br>
            For more information on this project, check out my <a href="https://github.com/jtokarowski/spotifyAnalysis">github</a> or <a href="https://tokarowski.sport.blog/2020/01/09/developing-a-spotify-powered-dj-set-tool-progress-to-date/">blog</a>
            <br>
            Thanks for visiting! Please direct any feedback to JTDJProject@gmail.com
        </p>
        <br>
        <br>
        <p>
            <a href={{ nextPageLink }}>Get Started</a>
        </p>

    </body>
    </font>
    </center>
</html>